
.home-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  font-size: 70px;
  font-family: 'Chela One', cursive;
  align-items: center;
  margin-left: 10px;
}

.nba-img {
  width: 146px;
  height: 103px;
}

.nba-img img {
  width: 146px;
  height: 103px;
}

.description {
  display: flex;
  margin: auto;
  font-family: 'Chela One', cursive;
  font-size: 20px;
  padding-bottom: 10px;
}

.content-wrapper {
  display: flex;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.filter {
  display: flex;
  position: relative;
}

.filter-description {
  display: flex;
  font-family: 'Oswald', sans-serif;
  margin: auto;
}

.filter button {
  margin-bottom: 10px;
}

.selector {
  display: flex;
  height: 29px;
}

#year, #team {
  display: flex;
  background-color: #1D428A;
  font-size: 14px;
  color: white;
}

#percent, #reset {
  background-color: #1D428A;
  font-size: 14px;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

#percent:hover, #reset:hover {
  background-color: #1D428A;
  font-size: 14px;
  box-shadow: 2px 2px 2px #bbb;
  text-decoration: underline;
  cursor: pointer;
}

.player:hover {
  /* stroke: rgba(103, 58, 183, 0.7); */
  stroke: rgba(29, 66, 138, 0.7);
  stroke-width: 3px;
}

#bubble {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(14, 14, 14, 0.5)), url("../images/StaplesCenter.png");
  background-size: 100% 100%;
}

.svg {
  width: 100%;
  height: 100%;
}

.percentages {
  display: flex;
  justify-content: space-around;
}

.linkedin-github {
  display: flex;
  flex-direction: row;
  background: white;
  justify-content: center;
}

.linkedin-github ul{
  list-style: none;
  display: flex;
}

.linkedin {
  width: 40px;
  height: 40px;
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/c_scale,w_40/v1512115468/linkedin-logo-copy_pdq4jt_vximdh.png");
  margin-right: 20px;
}

.linkedin:hover {
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/c_scale,w_40/v1511466491/linkedin-logo-copy_pdq4jt.png")
}

.github {
  width: 40px;
  height: 40px;
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/c_scale,w_40/v1512116165/github-512_fy2div.png")
}

.github:hover {
  background: url("http://res.cloudinary.com/dih798zsl/image/upload/c_scale,w_40/v1512116048/github-512_myckup.png")
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.disclaimer {
  display: flex;
  margin: auto;
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
  justify-content: center;
}
